html {
    font-size: 10px;
    font-family: "Markazi Text", sans-serif;
    background-color: dimgray;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p,
ul {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1.5;
}